*{
    margin:0;
    padding: 0;
}
.nav{
    background-color: white;
    z-index: 9;
   
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);

}
.nav_top{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
}

.logo{
    width: 60%;
    float: left;
}
.logo img{
    padding: 10px;
}

.nav_side{
    float: right;
    width: 40%;
    margin-top: 20px;
}
.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic,sans-serif;
    font-size:15px;
    
}

.nav_side a:hover{
    color: orange;
  
    transition:all 1s ease ;    
}